{% extends "layout.html" %}
{% block content %}
<div class="card mb-4">
  <div class="card-header center">
    Search
  </div>
  <div class="card-body">
    <form method="POST" action="" id="search-form">
      {{ form.hidden_tag() }}
      <fieldset class="form-group border-bottom" id="search-fieldset">
          <div class="form-group">
              {{form.ProcessCheck(onclick="doprocessCheck()")}}
              {{ form.Process.label(id="process-label",class="mx-3 form-control-label") }}
              {{form.Process(id="process-select",onchange="dynamic_search_process()")}}
          </div>
          <div class="form-group">
            {{form.TaskCheck(onclick="dotaskCheck()",onload="doprocessCheck()")}}
            {{ form.Task.label(id="task-label",class="mx-3 form-control-label") }}
            {{form.Task(id="task-select",onchange="dorefreshParams()")}}
          </div>
          <div class="form-group">
            {{form.PlatformCheck(onclick="doplatformCheck()")}}
            {{ form.Platform.label(id="platform-label",class="mx-3 form-control-label") }}
            {{form.Platform(id="platform-select",onchange="dynamic_search_platform()")}}
          </div>
          <div class="form-group">
            {{form.DatasetCheck(onclick="dodatasetCheck()")}}
            {{ form.Dataset.label(id="dataset-label",class="mx-3 form-control-label") }}
            {{form.Dataset(id="dataset-select")}}
          </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(id="Main-form",class="btn btn-outline-primary") }}
      </div>
  </form>
</div>
</div>
<!-- {%if res_zip%}
<p>{{res_zip}}</p>
<p>{% set test=10 %}</p>
{%endif%} -->
<div id="results-replacement">
  <meta id="results" data-playlist="{{ results }}">
  <div>
    <div>    
      {% if results%}
      <div class="card-header" style="background-color:greenyellow ;">
        {% if flag == True %}
        {{results.count()}} + Results found!
        {%else %}
        {{results.count()}} Results found!
        {%endif%}
      </div>    
      <div style="height:450px;overflow-y:auto;">
        {% for result in results %}
          <article class="media content-section pagination">
        
          <div class="media-body">
              <div class="article-metadata">
                  <a class="mr-2" href="{{ url_for('process', process=result.process) }}">{{ result.process }}</a>
                  <a class="mx-5" href="{{ url_for('ML_task', task=result.task) }}">{{ result.task }}</a>
                  <a class="mx-5" href="{{ url_for('ML_platform', platform=result.platform) }}">{{ result.platform}}</a>
                  <small class="text-muted font-italic float-right">{{ result.date_posted.strftime('%d-%m-%Y') }}</small>

              </div>

              <div class='row mr-2'>
                  <div class='column ml-3'>
                      <div>Accuracy = {{'%0.3f' | format(result.details.Accuracy *100)}} %</div>
                      <div class='mt-2'>F1 Score = {{'%0.3f' | format(result.details.F1_Score *100)}} %</div>
                      <p class='mt-2'>
                          <button class="btn newRule btn-primary collapsed" type="button" data-toggle="collapse"
                              data-target="#collapse - {{result.id}}" aria-expanded="false"
                              aria-controls="collapseExample">

                          </button>
                      </p>
                  </div>
                  <div class='column mx-5'>
                      <div>Dataset : <a
                              href="{{ url_for('ML_dataset', dataset=result.dataset.id) }}">{{ result.dataset.dataset_name}}</a>
                      </div>
                  </div>
              </div>
              <div class="collapse" id="collapse - {{result.id}}">
                  <div class="card card-body">
                      <div>
                          <div class='row mr-2'>
                              <div class='column ml-3'>
                                  <div>Precision</div>
                                  <div class='mt-2'>Recall</div>
                                  <div class='mt-2'>Time</div>
                              </div>
                              <div class='column ml-3'>
                                  <div>= {{'%0.3f' | format(result.details.Precision *100)}} %</div>
                                  <div class='mt-2'>= {{'%0.3f' | format(result.details.Recall *100)}} %</div>
                                  <div class='mt-2'>= {{'%0.3f' | format(result.details.Time)}} s</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </article>
      {% endfor %}
    </div>
      {% endif %}
    </div>
  </div>
  </meta>
</div>
<script type="text/javascript">
document.onload = allcheck();

function allcheck(){
  dodatasetCheck()
  doplatformCheck()
  doprocessCheck()
  dotaskCheck()
}
function dorefreshParams()
{
  var obj = document.getElementById("HP-list")
  obj.remove()
}
function doprocessCheck(){
    var x = document.getElementById("isProcessChecked").checked;
    if(x){
        document.getElementById('process-select').disabled = false;
        document.getElementById('process-label').className="mx-3 form-control-label";
    }
    else{
        document.getElementById('process-select').disabled = true;
        document.getElementById('process-label').className="mx-3 form-control-label text-muted";
    }
}
function dotaskCheck(){
    var x = document.getElementById("isTaskChecked").checked;
    if(x){
        document.getElementById('task-select').disabled = false;
        document.getElementById('task-label').className="mx-3 form-control-label";
    }
    else{
        document.getElementById('task-select').disabled = true;
        document.getElementById('task-label').className="mx-3 form-control-label text-muted";
    }
}
function dodatasetCheck(){
    var x = document.getElementById("isDatasetChecked").checked;
    if(x){
        document.getElementById('dataset-select').disabled = false;
        document.getElementById('dataset-label').className="mx-3 form-control-label";
    }
    else{
        document.getElementById('dataset-select').disabled = true;
        document.getElementById('dataset-label').className="mx-3 form-control-label text-muted";
    }
}
function doplatformCheck(){
    var x = document.getElementById("isPlatformChecked").checked;
    if(x){
        document.getElementById('platform-select').disabled = false;
        document.getElementById('platform-label').className="mx-3 form-control-label";
    }
    else{
        document.getElementById('platform-select').disabled = true;
        document.getElementById('platform-label').className="mx-3 form-control-label text-muted";
    }
}

$(document).ready(function(){

  $("form#HP-list").on('submit',function(event){

    event.preventDefault();

    var data = 10;

    var fieldPair = '';
    $("form#HP-list :input").each(function(){
      fieldPair += $(this).attr("name") + ':'
      var name = String($(this).attr("name"));
      if(name.includes('csrf'))
      {
        fieldPair+= ';';
      }
      else{
        if(name.includes('select')){
          fieldPair += $(this).find(':selected').text();
          fieldPair+= ';';
        }
        else{
          fieldPair += $(this).is(":checked");
          fieldPair+= ',';
        } 
      }    
    });
    
    req = $.ajax({

      url: '/bg_process',
      type: 'POST',
      data:{
        test:data,
        clf:$("#task-select").find(":selected").text(),
        form_data:fieldPair,
      },
      success:function(response){
        $('#results-replacement').empty()
        $('#results-replacement').append(response.data)
      }
    });

  });


});

function dynamic_search_process(){

  var fieldPair = '';

  $("form#search-form :input").each(function(){
      fieldPair += $(this).attr("id") + ':'
      var name = String($(this).attr("id"));
      if(name.includes('csrf'))
      {
        fieldPair+= ';';
      }
      else{
        if(name.includes('select')){
          fieldPair += $(this).find(':selected').text();
          fieldPair+= ';';
        }
        else{
          fieldPair += $(this).is(":checked");
          fieldPair+= ',';
        } 
      }    
    });

  req = $.ajax({

    url: '/dropdown-list/process',
    type: 'POST',
    data:{
      selected_process:$("select#process-select").find(":selected").text(),
      selected_data:fieldPair,
    },
    success:function(response){
      $('#search-fieldset').empty()
      $('#search-fieldset').append(response.data)
    }
  });
}

</script>


{% endblock content %}

{% block sidebar %}

  <div class="col-md-4">
    <div class="content-section">
      <h3>Filters</h3>
      <p class='text-muted'>Hyper parameters for further filtering</p>
      {%if results%}
      <form method="POST" id="HP-list">
        {{ form.hidden_tag() }}
        <ul class="list-group" >
          {% for (clf,hp,lst) in cols %}               
          {% if request.form.get('Task') in clf and 'id'not in hp.lower() and 'additional' not in hp.lower()%}
            <li class="list-group-item list-group-item-light">
               <input type="checkbox" id={{hp}}checkbox name={{hp}} value="True" class="mx-2" ><label for={{hp}} class="mx-2"><div class="mx-2">{{hp}}</div></label>

              <select class="select mx-3" name={{hp}}select id={{hp}} >
                {% for val in lst%}
                <option value=val>{{val}}</option>
                {%endfor%}
              </select>
            </li>
          {%endif%}
          {%endfor%}
          <input type="submit" class="btn btn-primary mb-2 mr-2 mt-2" id="Submit button">
          
        </ul>
        
      </form>    
      {%endif%}   
    </div>
  </div>


  {% endblock sidebar%}

